<?define name = "Opera"?>
<?define exe = "Opera_102.0.4880.56_Setup_x64.exe"?>
<?define path = "D:\Downloads"?>
<?define silentArgs = "--allusers=1 --silent=1 --launchbrowser=0"?>
<?define version = "101.0.4843"?>
<?define publisher = "letsdoautomation"?>
<?define guid = "64e51933-5ba1-4008-b039-b5243f50e3a3"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
        <Package Name="$(var.name)" Manufacturer="$(var.publisher)" Version="$(var.version)"
                UpgradeCode="$(var.guid)" Scope="perMachine">

                <Media Id="1" Cabinet="setup.cab" EmbedCab="yes" />

                <Feature Id="InstallFeature" Title="Install Feature">
                        <ComponentRef Id="file" />
                </Feature>

                <CustomAction Id="run_exe" Return="asyncWait" Execute="commit"
                        ExeCommand="$(var.silentArgs)" HideTarget="yes" Impersonate="no"
                        FileRef="executable" />

                <InstallExecuteSequence>
                        <Custom Action="run_exe" After="InstallFiles"
                                Condition="NOT Installed AND NOT REMOVE" />
                </InstallExecuteSequence>

                <StandardDirectory Id="TempFolder">
                        <Directory Id="INSTALLLOCATION" Name="$(var.guid)">
                                <Component Id="file" DiskId="1">
                                        <File Id="executable" Name="$(var.exe)"
                                                Source="$(var.path)\$(var.exe)" />
                                </Component>
                        </Directory>
                </StandardDirectory>
        </Package>
</Wix>