<?define name = "Ryver Installer"?>
<?define exe = "RyverSetup-1.3.2-x64.exe"?>
<?define silent = "-s"?>
<?define path = "D:\Downloads"?>
<?define version = "1.3.2"?>
<?define publisher = "letsdoautomation"?>
<?define guid = "ec08483a-132b-4d1e-ad75-34eed0fd5022"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
        <Package Name="$(var.name)" Manufacturer="$(var.publisher)" Version="$(var.version)"
                UpgradeCode="$(var.guid)" Scope="perMachine">

                <Media Id="1" Cabinet="setup.cab" EmbedCab="yes" />

                <Feature Id="InstallFeature" Title="Install Feature">
                        <ComponentRef Id="File" />
                        <ComponentRef Id="RegistryEntries" />
                </Feature>

                <StandardDirectory Id="CommonAppDataFolder">
                        <Directory Id="INSTALLLOCATION" Name="_packages\$(var.guid)">
                                <Component Id="File" DiskId="1" >
                                        <File Id="File0" Name="$(var.exe)"
                                                Source="$(var.path)\$(var.exe)" />
                                </Component>
                                <Component Id="RegistryEntries">
                                        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Active Setup\Installed Components\{$(var.guid)}">
                                                <RegistryValue Type="string" Value="$(var.name)"/>
                                                <RegistryValue Name="StubPath" Type="string" Value='REG ADD "HKCU\Software\Microsoft\Windows\CurrentVersion\RunOnce" /v "$(var.name)" /t REG_SZ /d "[INSTALLLOCATION]$(var.exe) $(var.silent)"'/>
                                        </RegistryKey>
                                </Component>
                        </Directory>
                </StandardDirectory>
        </Package>
</Wix>
